In [1]:
import DBcm

In [2]:
creds = {
    "host": "localhost",
    "user": "gofishuser",
    "password": "gofishpasswd",
    "database": "goFishDB",
}

In [3]:
creds

{'host': 'localhost',
 'user': 'gofishuser',
 'password': 'gofishpasswd',
 'database': 'goFishDB'}

In [4]:
SQL = "select * from scores"

In [7]:
with DBcm.UseDatabase(creds) as db:
    db.execute(SQL)
    results = db.fetchall()

In [8]:
results

[('Fred', 55), ('Mary', 45), ('Jill', 89), ('Pat', 9)]

In [9]:
with DBcm.UseDatabase(creds) as db:
    SQL = "select * from scores order by score desc"
    db.execute(SQL)
    results = db.fetchall()

In [10]:
results

[('Jill', 89), ('Fred', 55), ('Mary', 45), ('Pat', 9)]